# -------------------------
#   CUSTOM — QUARTO BUILD
# -------------------------

docs/
_book/
.quarto/
.quarto-cache/

# Generated assets
*.pdf
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.log
*.aux
*.out
*.toc
*.synctex.gz

# LaTeX intermediates
*.bbl
*.blg
*.fdb_latexmk
*.fls

# -------------------------
#   BK VERSIONS
# -------------------------
*bk.qmd
*bk.html
*bk.tex
*bk.pdf

# Directorios adicionales
/mas_temas/

# -------------------------
# R / RStudio
# -------------------------
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Renviron

.Rproj.user/

# knitr cache
*_cache/
cache/

# temporal markdown
*.utf8.md
*.knit.md

# R CMD build/check
/*.tar.gz
/*.Rcheck/

# Otros
.httr-oauth
vignettes/*.html
vignettes/*.pdf
po/*~
rsconnect/
